.container{
    /* display: flex; */
    gap: 30px;
    justify-content: center;
    align-items: center;
    align-content: center;
}


img{
    width: 250px;
    height: 180px;
    padding-top: 25px;

}

.btn{
    background-color: rgba(239, 217, 174, 0.892);
    border-radius: 4px;
    border: none;
    width: 30px;
    height: 30px;
    
}
